/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #f7f7f7;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  max-width: 144rem;
  margin: auto;
  box-shadow: rgba(8, 8, 8, 0.05) 0 0 2.5rem 1rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

a:link, a:visited, a:focus {
  color: #fff;
  text-decoration: none; }

::selection {
  background-color: #FF7F24;
  color: #fff; }

@keyframes scaleText {
  0% {
    right: -11rem;
    transform: scale(1.05); }
  100% {
    right: -10.5rem;
    transform: scale(1.125); } }

@keyframes navText {
  0% {
    transform: scale(1.05); }
  100% {
    transform: scale(1.4); } }

.header-info {
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5; }

.navigation__wrap {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #080808;
  text-transform: uppercase;
  font-size: 1.8rem; }
  .navigation__wrap a {
    text-decoration: none;
    color: #5c3913; }
    .navigation__wrap a.active {
      color: #FF7F24; }
      @media only screen and (max-width: 56.25em) {
        .navigation__wrap a.active {
          color: #5c3913; } }
  @media only screen and (min-width: 56.25em) {
    .navigation__wrap .btn--get-quote {
      text-align: center;
      cursor: pointer;
      transition: 250ms; }
      .navigation__wrap .btn--get-quote a {
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 900;
        letter-spacing: -0.7;
        font-size: 2rem; }
      .navigation__wrap .btn--get-quote:hover {
        animation-name: scaleText;
        animation-duration: 400ms;
        animation-timing-function: ease;
        right: -10.5rem;
        transform: scale(1.1); } }

.hero {
  position: relative; }
  .hero-text {
    font-size: 10.5rem;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    line-height: 10rem;
    letter-spacing: -0.6rem;
    margin-left: 3.75rem;
    font-weight: 700; }
    .hero-text::before {
      content: "";
      border-top: 1rem solid #FF7F24;
      width: 10.5rem;
      position: absolute;
      top: -1.75rem; }
    .hero-text span {
      display: block; }
      .hero-text span:not(:last-child) {
        transform: translateX(-0.9rem); }

.overview-grids {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.25; }
  .overview-grids__what_we_do {
    color: #5c3913; }
  .overview-grids__what_we_offer {
    color: #fff; }
  .overview-grids:not(:last-child) > *:not(p) {
    margin-bottom: 1.75rem; }
    @media only screen and (max-width: 64em) {
      .overview-grids:not(:last-child) > *:not(p) {
        margin-bottom: 0; } }
  .overview-grids h3 {
    font-size: 3.2rem; }
    @media only screen and (max-width: 56.25em) {
      .overview-grids h3 {
        font-size: 2.75rem; } }
  .overview-grids p {
    font-size: 1.8rem;
    text-align: justify;
    text-transform: capitalize; }
    .overview-grids p strong {
      font-weight: 800; }

.secondary-title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  border-bottom: 0.5rem solid #FF7F24;
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 5rem;
  width: fit-content; }
  @media only screen and (max-width: 64em) {
    .secondary-title {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .secondary-title {
      font-size: 2.5rem;
      margin-bottom: 4rem; } }

.about-grids__text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 1.25;
  color: #080808; }

.services {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase; }
  .services__shadow_title {
    font-size: 35.5rem;
    letter-spacing: -4.2rem;
    transform: scaleY(1.15);
    color: #f37822; }
    .services__shadow_title span:not(:last-child) {
      letter-spacing: -5rem;
      transform: scaleX(1.25) translateX(4rem);
      display: inline-block; }
    .services__shadow_title span:last-child {
      transform: translateX(12.5rem);
      display: inline-block; }
    @media only screen and (max-width: 64em) {
      .services__shadow_title {
        font-size: 28.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .services__shadow_title {
        font-size: 25.6rem; } }
  .services-content {
    color: #5c3913; }
    .services-content-title {
      font-size: 31rem;
      letter-spacing: -3.5rem;
      transform: scaleY(1.15) translate(-3rem, 1.3rem); }
      @media only screen and (max-width: 82.5em) {
        .services-content-title {
          font-size: 28.2rem; } }
      @media only screen and (max-width: 64em) {
        .services-content-title {
          font-size: 25.7rem;
          transform: scaleY(1.15) translate(-2.75rem, 1.3rem); } }
      @media only screen and (max-width: 56.25em) {
        .services-content-title {
          font-size: 23.6rem;
          transform: scaleY(1.15) translate(-3.5rem, 1.3rem); } }
      .services-content-title span:not(:last-child) {
        letter-spacing: -5rem;
        transform: scaleX(1.25) translateX(4rem);
        display: inline-block; }
      .services-content-title span:last-child {
        transform: translateX(12.5rem);
        display: inline-block; }
    .services-content-list {
      font-size: 3rem;
      font-weight: 700;
      list-style-type: disc; }

.our_projects-lists select {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5rem;
  color: #5c3913;
  font-weight: 300; }
  .our_projects-lists select option {
    color: #080808;
    font-size: 1.25rem; }

.footer-contacts__main {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center; }
  .footer-contacts__main p {
    color: #FF7F24;
    font-size: 2.4rem;
    text-transform: uppercase; }
  .footer-contacts__main h4 {
    font-size: 10rem; }

.footer-contacts__sub {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 7rem;
  letter-spacing: 1.25;
  font-size: 2.3rem; }
  @media only screen and (max-width: 82.5em) {
    .footer-contacts__sub {
      padding: 0 7.5rem;
      font-size: 2rem; } }
  @media only screen and (max-width: 64em) {
    .footer-contacts__sub {
      padding: 0 7.5rem;
      font-size: 1.7rem; } }
  .footer-contacts__sub li {
    font-weight: 300; }

.form-title {
  font-size: 3rem;
  font-family: 'Lexend Deca', sans-serif;
  color: #FF7F24; }

.form label, .form input, .form textarea {
  font-family: 'Roboto', sans-serif; }

.form label {
  font-size: 1.25rem;
  color: #5c3913;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem; }

.form input:not([type=submit]), .form textarea {
  font-size: 1.5rem;
  font-weight: 300;
  overflow: hidden; }

.form input[type=submit] {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: #FF7F24;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 3rem; }

.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-right-text {
  text-align: right !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.arrow-up {
  position: absolute;
  bottom: 12rem;
  color: #fff;
  right: 5rem;
  background-color: #FF7F24;
  padding: 1rem;
  font-size: 3.5rem;
  transition: 500ms; }
  .arrow-up:not(:hover) {
    z-index: 1; }
  .arrow-up:hover {
    z-index: 0;
    transform: scale(1.15);
    background-position: top; }
  @media only screen and (max-width: 56.25em) {
    .arrow-up {
      padding: 0.75rem;
      right: 3.5rem; }
      .arrow-up > svg {
        width: 3rem;
        height: 3rem; } }

.d-none {
  display: none !important; }

.invisible {
  opacity: 0; }

.gallery-image-lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: #999;
  perspective: 1000px;
  z-index: 2;
  left: 0; }
  .gallery-image-lightbox .title {
    text-align: right;
    position: absolute;
    bottom: 115px;
    width: 92%; }
  .gallery-image-lightbox .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    opacity: 0.5;
    background-position: center;
    background-size: cover; }
  .gallery-image-lightbox .img-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: absolute;
    bottom: 0; }
    @media only screen and (max-width: 56.25em) {
      .gallery-image-lightbox .img-list {
        grid-template-columns: repeat(6, 1fr); } }
    .gallery-image-lightbox .img-list-choices {
      height: 12vh;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      filter: opacity(0.5); }
      .gallery-image-lightbox .img-list-choices.active {
        filter: unset; }
      .gallery-image-lightbox .img-list-choices:not(.active):hover {
        filter: opacity(0.8); }
      @media only screen and (max-width: 56.25em) {
        .gallery-image-lightbox .img-list-choices {
          height: 8vh; } }
  .gallery-image-lightbox img.single-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    max-height: 55vh;
    max-width: calc(55vw - 100px);
    transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
    transform-style: preserve-3d; }
    @media only screen and (max-width: 56.25em) {
      .gallery-image-lightbox img.single-img {
        max-width: 75%;
        margin: auto;
        top: 50%; } }
  .gallery-image-lightbox [class^="arrow"] {
    height: 20rem;
    width: 5rem;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .gallery-image-lightbox [class^="arrow"] {
        height: 12rem; } }
  .gallery-image-lightbox [class^="arrow"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 1.5rem;
    height: 1.5rem; }
  .gallery-image-lightbox .arrowr {
    right: 0; }
  .gallery-image-lightbox .arrowr::after {
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .gallery-image-lightbox .arrowl {
    left: 0; }
  .gallery-image-lightbox .arrowl::after {
    border-left: 1px solid white;
    border-top: 1px solid white; }
  .gallery-image-lightbox .close {
    position: absolute;
    right: 0;
    width: 5rem;
    height: 5rem;
    background: rgba(0, 0, 0, 0.4);
    margin: 20px;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .gallery-image-lightbox .close {
        width: 4.5rem;
        height: 4.5rem; } }
  .gallery-image-lightbox .close::after,
  .gallery-image-lightbox .close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #fff; }
  .gallery-image-lightbox .close::after {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .gallery-image-lightbox .close::before {
    transform: translate(-50%, -50%) rotate(45deg); }

.form {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100vw;
  background-color: rgba(8, 8, 8, 0.75);
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: baseline; }
  @media only screen and (max-width: 75em) {
    .form {
      height: 150vh; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      height: 100%; } }
  .form-container {
    background-color: #fff;
    width: 50%;
    transform: translateY(45vh);
    top: -25vh;
    position: relative;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 56.25em) {
      .form-container {
        transform: translateY(75vh);
        top: -50vh; } }
    @media only screen and (max-width: 37.5em) {
      .form-container {
        width: 80%;
        top: -70%;
        grid-template-rows: 1fr; } }
  .form-title {
    padding: 2rem; }
  .form-get-quote {
    align-self: start;
    text-align: right;
    padding: 0 3rem 3rem; }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .form-row:nth-child(3) > label {
      margin-left: 0.5rem; }
  .form-input-wrap {
    text-align: left;
    padding: 1rem 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .form-input-wrap {
        width: 100%; } }
    .form-input-wrap label, .form-input-wrap input {
      display: block;
      width: 20vw; }
      @media only screen and (max-width: 37.5em) {
        .form-input-wrap label, .form-input-wrap input {
          width: 100%; } }
  .form textarea {
    width: 100%;
    margin: 0 0.5rem 1.5rem; }
  .form input, .form textarea {
    border: 1px solid rgba(8, 8, 8, 0.25);
    border-radius: 0.5rem;
    padding: 1rem; }
    .form input:focus-visible, .form textarea:focus-visible {
      outline-color: rgba(92, 57, 19, 0.5); }
  .form .form-input-wrap:first-child input {
    margin-right: 1rem; }
  .form svg {
    position: absolute;
    top: -0.75rem;
    right: -1rem;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .form svg {
        height: 3rem;
        width: 3rem; } }

.phone--get-a-quote {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .phone--get-a-quote {
      position: fixed;
      bottom: 0;
      width: 100%;
      display: block;
      background-color: #FF7F24;
      color: #5c3913 !important;
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 900;
      font-size: 3rem;
      text-align: center;
      padding: 1.5rem;
      z-index: 3;
      box-shadow: 1px 11px 15px 2px; } }

.header {
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 144rem;
  z-index: 2;
  transition: 500ms; }
  @media only screen and (min-width: 56.25em) {
    .header {
      background-color: #fff; } }
  .header:hover {
    opacity: 1 !important; }
  @media only screen and (max-width: 82.5em) {
    .header {
      width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      opacity: 1 !important; }
      .header.invisible .header-info,
      .header.invisible .header-main--logo__wrap {
        opacity: 0 !important;
        display: none; }
      .header.invisible .navigation__button {
        top: 3rem !important;
        right: 3rem !important; }
      .header.invisible .navigation__background {
        top: 3.5rem !important;
        right: 3.5rem !important; } }
  .header-info {
    background-color: #080808;
    padding: 1.4rem 0;
    transition: 500ms; }
    @media only screen and (max-width: 56.25em) {
      .header-info div.col-1-of-2 {
        width: 50% !important;
        margin-bottom: 0 !important; } }
    @media only screen and (max-width: 37.5em) {
      .header-info {
        padding: 0.5rem 0; }
        .header-info .row {
          padding: 1rem 0; }
        .header-info div.col-1-of-2 {
          width: 100% !important;
          text-align: center !important; }
          .header-info div.col-1-of-2:first-child {
            margin-bottom: 0.75rem !important; } }
  .header-main {
    padding: 1rem 0;
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .header-main > div {
        margin-bottom: 0 !important; } }
    .header-main--logo__wrap {
      max-width: 33rem;
      position: relative;
      transition: 500ms; }
    .header-main__logo {
      display: inline-block;
      width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .header-main__logo {
          width: 25rem; } }

.navigation__checkbox {
  display: none; }

@media only screen and (min-width: 56.25em) {
  .navigation .u-right-text {
    float: right !important; }
  .navigation__button, .navigation__background {
    display: none; }
  .navigation__wrap {
    list-style: none;
    display: flex;
    justify-content: end;
    height: 8.5rem;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    right: 11rem; }
    .navigation__wrap li.btn--get-quote {
      width: 11.5rem;
      padding: 2.5rem 0;
      background-color: #FF7F24;
      border: 5px solid rgba(92, 57, 19, 0.075);
      position: absolute;
      right: -11rem;
      top: -1rem; }
    .navigation__wrap li span {
      display: none; }
    .navigation__wrap li:not(:last-child) {
      margin-right: 4rem; }
      .navigation__wrap li:not(:last-child):hover {
        animation-name: navText;
        animation-duration: 50ms;
        animation-timing-function: ease;
        transform: scale(1.25); } }

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    background-color: #FF7F24;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 7rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(8, 8, 8, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__icon {
    position: relative;
    margin-top: 2.75rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2.5rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100rem;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 8.5rem;
    right: 7rem;
    background-image: radial-gradient(#f37822, #FF7F24);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .navigation__item:last-child {
      display: none; } }

@media only screen and (max-width: 56.25em) {
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #FF7F24;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(85); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    left: 0; } }

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 8rem;
    right: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 9rem;
    right: 4rem; } }

.row {
  max-width: 129.6rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  @media only screen and (max-width: 82.5em) {
    .row {
      max-width: 125rem;
      padding: 1rem 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.hero {
  height: 80rem;
  background-image: linear-gradient(to right, rgba(92, 57, 19, 0.5) 40%, rgba(8, 8, 8, 0)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  @media only screen and (min-width: 56.25em) {
    .hero {
      margin-top: 15rem; } }
  @media only screen and (max-width: 64em) {
    .hero {
      height: 65rem; } }
  @media only screen and (max-width: 56.25em) {
    .hero {
      background-position-x: -10rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero {
      background-position-x: 100%;
      background-position-y: 6rem;
      height: 68rem;
      background-blend-mode: hue;
      background-color: rgba(92, 57, 19, 0.3);
      background-image: url("../img/rectificationWorks/highStreetBGC/1.jpg"); } }
  .hero-wrap {
    display: flex;
    height: 100%;
    justify-content: start;
    align-items: center; }
  .hero-text {
    position: relative; }
    @media only screen and (max-width: 64em) {
      .hero-text {
        font-size: 8.5rem;
        line-height: 9rem; } }
    @media only screen and (max-width: 56.25em) {
      .hero-text {
        font-size: 7rem;
        line-height: 8rem;
        margin-top: 7.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero-text {
        font-size: 6.5rem;
        margin-left: 0;
        margin-top: 12.5rem; }
        .hero-text span {
          transform: translateX(0);
          letter-spacing: 0.15rem; }
          .hero-text span:not(:last-child) {
            transform: translateX(0); } }

.overview {
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(55rem, auto);
  grid-template-areas: "left-top right" "left-bottom right"; }
  @media only screen and (max-width: 56.25em) {
    .overview {
      grid-auto-rows: minmax(51rem, auto); }
      .overview svg {
        width: 8rem;
        height: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .overview {
      grid-template-areas: "left-top right" "left-bottom right" "left bottom";
      grid-template-columns: 1fr; } }
  .overview-grids__what_we_do {
    background-color: #FF7F24;
    grid-area: left-top; }
  .overview-grids__what_we_offer {
    background-color: #5c3913;
    grid-area: left-bottom; }
  .overview-grids__image {
    grid-area: right;
    background-image: url(../img/1000H.png);
    background-size: cover;
    transition: 500ms; }
    .overview-grids__image:not(:hover) {
      z-index: 0; }
    .overview-grids__image:hover {
      z-index: 0;
      transform: scale(1.05);
      background-position: top; }
    @media only screen and (max-width: 37.5em) {
      .overview-grids__image {
        grid-area: left;
        width: 100%;
        height: 220vw; } }
  .overview-grids:not(:last-child) {
    padding: 6.5rem 12.75rem;
    align-items: center;
    justify-items: center;
    display: grid;
    z-index: 1; }
    @media only screen and (max-width: 82.5em) {
      .overview-grids:not(:last-child) {
        padding: 6.5rem 8.75rem; } }
    @media only screen and (max-width: 64em) {
      .overview-grids:not(:last-child) {
        padding: 6.5rem 6.75rem; } }
    @media only screen and (max-width: 56.25em) {
      .overview-grids:not(:last-child) {
        padding: 4.5rem 4.75rem; } }

.about {
  width: 100%;
  height: 99rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(5.5rem, auto);
  grid-template-areas: "left right"; }
  @media only screen and (max-width: 56.25em) {
    .about {
      height: 68rem;
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      transform: translateY(-215vw);
      height: 0; } }
  .about-grids__images {
    grid-area: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(33rem, auto);
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .about-grids__images {
        display: none; } }
    .about-grids__images :nth-child(1) {
      background-image: linear-gradient(to bottom right, rgba(255, 127, 36, 0.2) 20%, rgba(92, 57, 19, 0.2)), url("../img/about_us/rockandrope_team1.jpg"); }
    .about-grids__images :nth-child(2) {
      background-image: linear-gradient(to bottom right, rgba(255, 127, 36, 0.2) 20%, rgba(92, 57, 19, 0.2)), url("../img/about_us/rockandrope_at_work1.jpg"); }
    .about-grids__images :nth-child(3) {
      background-image: linear-gradient(to bottom right, rgba(255, 127, 36, 0.2) 20%, rgba(92, 57, 19, 0.2)), url("../img/about_us/rockandrope_at_work2.jpg"); }
    .about-grids__images :nth-child(4) {
      background-image: linear-gradient(to bottom right, rgba(255, 127, 36, 0.2) 20%, rgba(92, 57, 19, 0.2)), url("../img/about_us/rockandrope_team2.jpg"); }
    .about-grids__images :nth-child(5) {
      background-image: linear-gradient(to bottom right, rgba(255, 127, 36, 0.2) 20%, rgba(92, 57, 19, 0.2)), url("../img/about_us/rockandrope_team3.jpg"); }
    .about-grids__images :nth-child(6) {
      background-image: linear-gradient(to bottom right, rgba(255, 127, 36, 0.2) 20%, rgba(92, 57, 19, 0.2)), url("../img/about_us/rockandrope_at_work3.jpg"); }
  .about-grids__team_image {
    background-blend-mode: color-burn;
    background-size: cover;
    border-image-width: 0;
    width: -webkit-fill-available;
    transition: 500ms; }
    .about-grids__team_image:not(:hover) {
      z-index: 1; }
    .about-grids__team_image:hover {
      z-index: 0;
      transform: scale(1.1);
      background-position: top; }
  .about-grids__text {
    grid-area: right;
    text-align: justify;
    width: 100%;
    padding: 7.25rem 8.5rem;
    display: grid;
    justify-items: center;
    position: relative;
    background-color: #fff; }
    @media only screen and (max-width: 82.5em) {
      .about-grids__text {
        padding: 5.25rem; } }
    @media only screen and (max-width: 64em) {
      .about-grids__text {
        padding: 3.5rem 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about-grids__text {
        margin: 3rem auto;
        width: 90%;
        height: max-content;
        padding: 3rem; }
        .about-grids__text p {
          font-size: 3vw; } }
    .about-grids__text::after {
      content: "";
      background-image: url(../img/logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      filter: grayscale(1);
      opacity: .05;
      width: 80%;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      height: 15rem;
      z-index: 1;
      background-position-x: right; }

.services {
  width: 100%;
  height: 95rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 64em) {
    .services {
      height: 85rem; } }
  @media only screen and (max-width: 56.25em) {
    .services {
      height: 80rem; } }
  @media only screen and (max-width: 37.5em) {
    .services {
      height: 60rem; } }
  .services__shadow_title_wrap {
    background-color: #FF7F24;
    height: 100%;
    width: 100%;
    position: relative;
    clip-path: polygon(0 100%, 48% 100%, 97.1% 0, 0 0); }
    @media only screen and (min-width: 112.5em) {
      .services__shadow_title_wrap {
        clip-path: polygon(0 100%, 47.75% 100%, 97.05% 0, 0 0); } }
    @media only screen and (max-width: 82.5em) {
      .services__shadow_title_wrap {
        clip-path: polygon(0 100%, 43.15% 100%, 97.95% 0, 0 0); } }
    @media only screen and (max-width: 64em) {
      .services__shadow_title_wrap {
        clip-path: polygon(0 100%, 43.15% 100%, 97.95% 0, 0 0); } }
    @media only screen and (max-width: 37.5em) {
      .services__shadow_title_wrap {
        clip-path: polygon(0 100%, 44.15% 100%, 94.95% 0, 0 0); } }
  .services__shadow_title {
    position: absolute;
    left: -4rem;
    top: -3.5rem; }
    @media only screen and (max-width: 37.5em) {
      .services__shadow_title {
        display: none; } }
  .services-content {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    @media only screen and (max-width: 64em) {
      .services-content {
        grid-template-columns: repeat(8, 1fr); } }
    @media only screen and (max-width: 37.5em) {
      .services-content {
        display: block;
        width: 100%; } }
    .services-content-title {
      grid-column: span 5; }
      @media only screen and (max-width: 64em) {
        .services-content-title {
          grid-column: span 8; } }
      @media only screen and (max-width: 37.5em) {
        .services-content-title {
          font-size: 5rem;
          transform: unset;
          letter-spacing: 2rem !important;
          text-align: center;
          margin-top: 3rem;
          margin-bottom: 2rem; }
          .services-content-title span {
            letter-spacing: 2rem !important;
            transform: unset !important; } }
    .services-content-list {
      grid-column: span 3;
      grid-column-end: -2;
      height: 42rem;
      width: 65rem;
      line-height: 5rem;
      display: flex;
      flex-wrap: wrap;
      align-content: end; }
      @media only screen and (max-width: 64em) {
        .services-content-list {
          grid-column: span 5;
          grid-column-end: -3;
          width: 60rem;
          font-size: 2.75rem; } }
      @media only screen and (max-width: 56.25em) {
        .services-content-list {
          margin-left: -4rem;
          margin-top: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .services-content-list {
          font-size: 2rem;
          margin: auto;
          display: block;
          width: 65%; } }
  .services::after {
    content: "";
    height: 95rem;
    width: 60%;
    background-image: linear-gradient(to bottom right, rgba(255, 127, 36, 0.6) 100%, rgba(255, 127, 36, 0)), url(../../img/services.png);
    background-size: cover;
    background-position-x: right;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1; }
    @media only screen and (max-width: 37.5em) {
      .services::after {
        height: 70rem;
        width: 80%; } }

.our_projects {
  background-color: #fff;
  width: 100%;
  padding: 8rem 0;
  position: relative; }
  @media only screen and (max-width: 64em) {
    .our_projects {
      padding: 5rem 0; } }
  .our_projects .secondary-title {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 64em) {
      .our_projects .secondary-title {
        margin-bottom: 5.5rem; } }
  .our_projects-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 5rem;
    cursor: pointer; }
    .our_projects-lists select {
      border: 0;
      border-bottom: 1px solid rgba(8, 8, 8, 0.25);
      padding-bottom: 0.5rem;
      cursor: pointer; }
      .our_projects-lists select:focus-visible {
        outline: none; }
  .our_projects-galleries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .our_projects-galleries {
        grid-template-columns: 1fr; } }
  .our_projects-gallery {
    width: 100%;
    height: 27rem;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 500ms; }
    @media only screen and (max-width: 56.25em) {
      .our_projects-gallery {
        height: 21rem; } }
    @media only screen and (max-width: 37.5em) {
      .our_projects-gallery {
        height: 30rem; } }
    .our_projects-gallery:hover {
      transform: scale(1.1); }
    .our_projects-gallery:after {
      content: "";
      background-color: #080808;
      height: 100%;
      width: 100%;
      opacity: 0;
      display: block;
      cursor: pointer; }
    .our_projects-gallery::before {
      font-family: 'icomoon' !important;
      content: "\e986";
      color: #fff;
      font-size: 5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      opacity: 0;
      z-index: 1;
      cursor: pointer; }
    .our_projects-gallery:hover:after {
      opacity: 0.35; }
    .our_projects-gallery:hover::before {
      opacity: 1; }
  .our_projects::after {
    content: "";
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1);
    opacity: .05;
    width: 80%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 15rem;
    z-index: 1;
    background-position-x: right; }

.footer {
  height: 60rem;
  width: 100%;
  background-color: #080808;
  position: relative; }
  @media only screen and (max-width: 64em) {
    .footer {
      height: 56rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      height: 52rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: max-content; } }
  .footer-contacts {
    padding: 6rem 0;
    margin-bottom: 0 !important; }
    .footer-contacts__main {
      margin-bottom: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .footer-contacts__main {
          margin-bottom: 3.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .footer-contacts__main p {
          margin-bottom: 1.5rem; } }
      @media only screen and (max-width: 64em) {
        .footer-contacts__main h4 {
          font-size: 9rem; } }
      @media only screen and (max-width: 56.25em) {
        .footer-contacts__main h4 {
          font-size: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        .footer-contacts__main h4 {
          font-size: 5rem; } }
    .footer-contacts__sub {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0 2.5rem; }
      @media only screen and (max-width: 56.25em) {
        .footer-contacts__sub {
          padding: 0 3.5rem;
          grid-template-columns: repeat(8, 1fr); } }
      @media only screen and (max-width: 37.5em) {
        .footer-contacts__sub {
          grid-template-columns: 1fr;
          margin-bottom: 4.5rem; } }
      .footer-contacts__sub ul {
        width: fit-content;
        list-style-type: none;
        line-height: 7rem; }
        .footer-contacts__sub ul:first-child {
          grid-column: span 2; }
        .footer-contacts__sub ul a, .footer-contacts__sub ul strong {
          text-transform: uppercase; }
        @media only screen and (max-width: 64em) {
          .footer-contacts__sub ul {
            line-height: 6rem; } }
        @media only screen and (max-width: 56.25em) {
          .footer-contacts__sub ul:first-child {
            grid-column: span 5; }
          .footer-contacts__sub ul:last-child {
            grid-column: span 3; } }
        @media only screen and (max-width: 37.5em) {
          .footer-contacts__sub ul {
            line-height: 5rem; }
            .footer-contacts__sub ul strong {
              margin-top: -2rem;
              display: block; } }
  .footer-copyright {
    background-color: #5c3913;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: max-content; }
    @media only screen and (max-width: 37.5em) {
      .footer-copyright .row {
        padding: 1rem 0;
        text-align: center; } }
    .footer-copyright small {
      font-family: 'Roboto', sans-serif;
      color: #fff;
      font-size: 1.6rem;
      padding: 3.75rem 0;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      line-height: 0; }
      @media only screen and (max-width: 82.5em) {
        .footer-copyright small {
          padding: 2.8rem 0; } }
      @media only screen and (max-width: 37.5em) {
        .footer-copyright small {
          padding: 2rem 0;
          font-size: 1.35rem; } }
