.about {
    width: 100%;
    height: 99rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(5.5rem, auto);
    grid-template-areas: 
        "left right"
    ;

    @include respond(tab-port) {
        height: 68rem;
        grid-template-columns: 1fr;
    }

    @include respond(phone) {
        transform: translateY(-215vw);
        height: 0;
    }

    &-grids {
        &__images {
            grid-area: left;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: minmax(33rem, auto);
            overflow: hidden;

            @include respond(tab-port) {
                display: none;
            }

            & :nth-child(1){
                @include bg_image_gradient('../img/about_us/rockandrope_team1.jpg');
            }
            & :nth-child(2){
                @include bg_image_gradient('../img/cleaningServices/DLS_Benilde/6.jpg');
            }
            & :nth-child(3){
                @include bg_image_gradient('../img/cleaningServices/DLS_Benilde/4.jpg');
            }
            & :nth-child(4){
                @include bg_image_gradient('../img/about_us/rockandrope_team2.jpg');
            }
            & :nth-child(5){
                @include bg_image_gradient('../img/about_us/rockandrope_team3.jpg');
            }
            & :nth-child(6){
                @include bg_image_gradient('../img/cleaningServices/DLS_Benilde/1.jpg');
            }
        }
        &__team_image {
            background-blend-mode: color-burn;
            background-size: cover;
            border-image-width: 0;
            width: -webkit-fill-available;
            @include scale-up(1.1,1);
        }
        &__text {
            grid-area: right;
            text-align: justify;
            width: 100%;
            padding: 7.25rem 8.5rem;
            display: grid;
            justify-items: center;
            position: relative;
            background-color: $color-white;

            @include respond(medium-desktop) {
                padding: 5.25rem;
            }

            @include respond(small-desktop) {
                padding: 3.5rem 4.5rem;
            }

            @include respond(phone) {
                margin: 3rem auto;
                width: 90%;
                height: max-content;
                padding: 3rem;
                
                p {
                    font-size: 3vw;
                }
            }
            
            @include water_mark_logo;
        }
    }
}