.footer {
    height: 60rem;
    width: 100%;
    background-color: $color-black;
    position: relative;

    @include respond(small-desktop) {
        height: 56rem;
    }

    @include respond(tab-port) {
        height: 52rem;
    }

    &-contacts {
        padding: 6rem 0;
        &__main {
            margin-bottom: 5rem;
            @include respond(tab-port) {
                margin-bottom: 3.5rem;
            }

            h4 {
                @include respond(small-desktop) {
                    font-size: 9em;
                }

                @include respond(tab-port) {
                    font-size: 7em;
                }
            }
        }
        &__sub {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 0 2.5rem;            

            @include respond(tab-port) {
                padding: 0 3.5rem;
                grid-template-columns: repeat(8, 1fr);
            }

            ul {
                width: fit-content;
                list-style-type: none;
                line-height: 7rem;
                &:first-child {
                    grid-column: span 2;
                }

                a, strong {
                    text-transform: uppercase;
                }

                @include respond(small-desktop) {
                    line-height: 6rem;
                }

                @include respond(tab-port) {
                    &:first-child {
                        grid-column: span 5;
                    }
                    &:last-child {
                        grid-column: span 3;
                    }
                }
            }
        }
    }

    &-copyright {
        background-color: $color-primary-dark;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 7.5rem;

        small {
            font-family: 'Roboto', sans-serif;
            color: $color-white;
            font-size: 1.6rem;
            padding: 3.75rem 0;
            text-transform: uppercase;
            font-weight: 700;
            display: block;
            line-height: 0;

            @include respond(medium-desktop) {
                padding: 2.8rem 0;
            }
        }
    }
}