.header {  
    @include respond(tab-port-up) {
        background-color: $color-white;
    }
    
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    width: 144rem;
    z-index: 2;
    transition: 500ms;

    &:hover {
        opacity: 1 !important;
    }

    @include respond(medium-desktop) {
        width: 100%;
    }

    @include respond(tab-port) {
        opacity: 1 !important;

        &.invisible {
            .header-info,
            .header-main--logo__wrap {
                opacity: 0 !important;
                display: none;
            }

            .navigation__button {
                top: 3rem !important;
                right: 3rem !important;
            }

            .navigation__background {
                top: 3.5rem !important;
                right: 3.5rem !important;
            }
        }

        
    }
    
    &-info {
        background-color: $color-black;
        padding: 1.4rem 0;        
        transition: 500ms;

        @include respond(tab-port) {
            div.col-1-of-2 {
                width: 50% !important;
                margin-bottom: 0!important;
            }
        }

        @include respond(phone) {
            padding: 0.5rem 0;
            div.col-1-of-2 {
                width: 100% !important;
                text-align: center!important;
                
                &:first-child {
                    margin-bottom: 0.75rem !important;
                }
            }
        }
    }

    &-main {
        padding: 1rem 0;
        overflow: hidden;

        @include respond(tab-port) {
            &>div {
                margin-bottom: 0 !important;
            }
        }

        &--logo__wrap {
            max-width: 33rem;
            position: relative;
            transition: 500ms;
        }
    
        &__logo {        
            display: inline-block;
            width: 100%;

            @include respond(tab-port) {
                width: 25rem;
            }
        }
    }
}