.hero {
    height: 80rem;
    background-image:  linear-gradient( to right,rgba($color-primary-dark, 0.5) 40%,rgba($color-black, 0)), url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    &-wrap {
        display: flex;
        height: 100%;
        justify-content: start;
        align-items: center;
    }

    &-text {
        position: relative;
    }
}