.overview {
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(55rem, auto);
    grid-template-areas:
        "left-top right"
        "left-bottom right"
    ;

    @include respond(tab-port) {
        svg {
            width: 8rem;
            height: 8rem;
        }
        grid-auto-rows: minmax(51rem, auto);
    }

    @include respond(phone) {
        grid-template-areas:
            "left-top right"
            "left-bottom right"
            "left bottom"
        ;
        grid-template-columns: 1fr;
    }

    &-grids {
        &__what_we_do {
            background-color: $color-primary;
            grid-area: left-top;
        }
        &__what_we_offer {
            background-color: $color-primary-dark;
            grid-area: left-bottom;
        }
        &__image {
            grid-area: right;
            background-image: url(../img/1000H.png);
            background-size: cover;
            @include scale-up(1.05,0);

            @include respond(phone) {
                grid-area: left;
                width: 100%;
                height: 220vw;
            }
        }
        &:not(:last-child) {
            padding: 6.5rem 12.75rem;
            align-items: center;
            justify-items: center;
            display: grid;
            z-index: 1;

            @include respond(medium-desktop) {
                padding: 6.5rem 8.75rem;
            }

            @include respond(small-desktop) {
                padding: 6.5rem 6.75rem;
            }

            @include respond(tab-port) {
                padding: 4.5rem 4.75rem;
            }
        }
    }    
}