@keyframes scaleText {
    0% {
        right: -11rem;
        transform: scale(1.05);
    }
    100% {
        right: -10.5rem;
        transform: scale(1.125);
    }
}

@keyframes navText {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.4);
    }
}