.header {
    &-info {
        color: $color-white;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        letter-spacing: 1.5;
    }
}

.navigation__wrap {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: $color-black;
    text-transform: uppercase;
    font-size: $default-font-size;

    a {
        text-decoration: none;
        color: $color-primary-dark;

        &.active {
            color: $color-primary;
            @include respond(tab-port) {
                color: $color-primary-dark;
            }
        }
    }

    @include respond(tab-port-up) {
        .btn--get-quote {
            text-align: center;
            cursor: pointer;
            transition: 250ms;

            a {
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 900;
                letter-spacing: -0.7;
                font-size: 2rem;
            }

            &:hover {
                animation-name: scaleText;
                animation-duration: 400ms;
                animation-timing-function: ease;
                right: -10.5rem;
                transform: scale(1.1);
            }
        } 
    }
}

.hero {
    position: relative;

    &-text {
        &::before {
            content: "";
            border-top: 1rem solid $color-primary;
            width: 10.5rem;
            position: absolute;
            top: -1.75rem;
        }

        font-size: 10.5rem;
        color: $color-white;
        font-family: 'Lexend Deca', sans-serif;
        text-transform: uppercase;
        line-height: 10rem;
        letter-spacing: -0.6rem;
        margin-left: 3.75rem;
        font-weight: 700;

        span {
            display: block;

            &:not(:last-child) {
                transform: translateX(-0.9rem);
            }
        }        
    }
}

.overview {
    &-grids {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1.25;

        &__what_we_do {
            color: $color-primary-dark;
        }
        &__what_we_offer {
            color: $color-white;
        }
        &:not(:last-child) {
            > *:not(p) {
                margin-bottom: 1.75rem;

                @include respond(small-desktop) {
                    margin-bottom: 0;
                }
            }
        }

        h3 {
            font-size: 3.2rem;
            @include respond(tab-port) {
                font-size: 2.75rem;
            }
        }

        p {
            font-size: $default-font-size;
            text-align: justify;
            text-transform: capitalize;

            strong {
                font-weight: 800;
            }
        }
    }
}

.secondary-title {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    border-bottom: 0.5rem solid $color-primary;
    display: inline-block;    
    padding-bottom: 0.5rem;
    margin-bottom: 5rem;
    width: fit-content;

    @include respond(small-desktop) {
        margin-bottom: 3rem;
    }

    @include respond(tab-port) {
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }
}

.about-grids__text p {
    font-family: 'Roboto', sans-serif;
    font-size: $default-font-size;
    margin-bottom: 2rem;
    font-weight: 300;
    letter-spacing: 1.25;
    color: $color-black;
}

.services {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;

    &__shadow_title {
        font-size: 35.5rem;                       
        letter-spacing: -4.2rem;
        transform: scaleY(1.15);
        color: $color-primary-light;
        span:not(:last-child) {
            letter-spacing: -5rem;
            transform: scaleX(1.25) translateX(4rem);
            display: inline-block;
        }
        span:last-child {
            transform: translateX(12.5rem);
            display: inline-block;
        }

        @include respond(small-desktop) {
            font-size: 28.5rem;
        }

        @include respond(tab-port) {
            font-size: 25.6rem;
        }
    }

    &-content {        
        color: $color-primary-dark; 

        &-title {
            font-size: 31rem;                       
            letter-spacing: -3.5rem;
            transform: scaleY(1.15) translate(-3rem, 1.3rem);

            @include respond(medium-desktop) {
                font-size: 28.2rem;
            }

            @include respond(small-desktop) {
                font-size: 25.7rem;
                transform: scaleY(1.15) translate(-2.75rem, 1.3rem);
            }

            @include respond(tab-port) {
                font-size: 23.6rem;
                transform: scaleY(1.15) translate(-3.5rem, 1.3rem);
            }
            
            span:not(:last-child) {
                letter-spacing: -5rem;
                transform: scaleX(1.25) translateX(4rem);
                display: inline-block;
            }
            span:last-child {
                transform: translateX(12.5rem);
                display: inline-block;
            }
        }
        &-list {
            font-size: 3rem;
            font-weight: 700;
            list-style-type: disc;
        }
    }
}

.our_projects {
    &-lists select {
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.5rem;
        color: $color-primary-dark;
        font-weight: 300;

        option {
            color: $color-black;
            font-size: 1.25rem;
        }
    }
}

.footer-contacts {
    &__main {
        color: $color-white;
        font-family: 'Lexend Deca', sans-serif;
        text-align: center;
        p {
            color: $color-primary;
            font-size: 2.4rem;
            text-transform: uppercase;
        }
        h4 {
            font-size: 10rem;
        }
    }
    &__sub {
        color: $color-white;
        font-family: 'Roboto', sans-serif;
        line-height: 7rem;
        letter-spacing: 1.25;
        font-size: 2.3rem;

        @include respond(medium-desktop) {
            padding: 0 7.5rem;
            font-size: 2rem;
        }

        @include respond(small-desktop) {
            padding: 0 7.5rem;
            font-size: 1.7rem;
        }

        @include respond(phone-land) {
            strong {
                font-size: 1.5rem;
            }
        }

        li {
            font-weight: 300;
        }
    }
}

.form {
    &-title {
        font-size: 3rem;
        font-family: 'Lexend Deca', sans-serif;
        color: $color-primary;
    }

    label, input, textarea {
        font-family: 'Roboto', sans-serif;        
    }

    label {
        font-size: 1.25rem;
        color: $color-primary-dark;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    input:not([type=submit]), textarea {
        font-size: 1.5rem;
        font-weight: 300;
        overflow: hidden;
    }

    input[type=submit]{
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        background-color: $color-primary;
        color: $color-white;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1rem 3rem;
    }
}